# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0b92c947cded42f2e5e4e969c0237a8521284578dab7151aeaab2ee9dd5c60d029febf0ea0862835015e1e29a096647e39007f7d74b60b5dc5dea26c23fd7f9a
  email_user_name = "user email"
  email_password = "user password"
  stripe_secret_key = "stripe secret key"
  stripe_publishable_key = "stripe publishable key"

test:
  secret_key_base: a0cf36318b13a4d21c356fad35c34ec5226124e3899532b19fe44a9477120114da6a42804631ebfaad13e18ed6e33ce8ff3501c7f066c37ba2f6a88132099822

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
